@use "../../style/font";
.children-task-creation {
  height: 100vh;
  display: flex;
  background-color: white;
  flex-direction: column;
  width: auto;
  overflow: hidden;

  &.outer {
    position: relative;
    z-index: 10;
  }

  &.inner {
    position: fixed;
    height: 85vh;
    left: 5%;
    right: 5%;
    bottom: 5%;
    box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
  }
  &.full-screen {
    height: 100%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;

    overflow-y: auto;
  }
  &.hidden {
    display: none;
  }
  &__head {
    z-index: 10;
    height: 60px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 2px 50px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    .icon {
      color: rgba(0, 0, 0, 0.7);
    }
    &__icon {
      cursor: pointer;
      font-size: 30px;
      color: rgba(0, 0, 0, 0.3);
      margin-right: 40px;
    }

    &__title {
      display: flex;
      align-items: center;
      font-size: font.$font-size-x;
      color: rgba(0, 0, 0, 0.7);
      span {
        margin-right: 15px;
        display: block;
        width: 50px;
        height: 50px;
        position: relative;
        background-color: rgba(0, 0, 0, 0.1);
        border-radius: 50%;
        .icon {
          color: rgba(0, 0, 0, 0.7);
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translateY(-50%) translateX(-50%);
        }
      }
    }
    &__add-icon {
      margin-left: auto;
    }
    &__follow-progress {
      margin-left: 10px;
    }
    &__update-child-task {
      margin-left: auto;
      & > * {
        margin-left: 10px;
      }
    }
  }
  &__body {
    height: 100%;
    background-color: rgba(184, 184, 184, 0.1);
    overflow-y: auto;
    overflow-x: hidden;
    &-left {
      & > * {
        border: 1px solid rgba(0, 0, 0, 0.1);
        background-color: white;
        border-radius: 10px;
        width: 100%;
        padding: 20px;
        margin: 20px;

        & > * {
          margin-bottom: 10px;
        }
      }
    }
    &-right {
      background-color: white;
      margin-left: 20px;
      border: 1px solid rgba(0, 0, 0, 0.1);
      height: 100%;
      padding: 20px;
      & > * > input {
        background-color: rgba(184, 184, 184, 0.1);
        border: none;
        padding: 20px;
        &:hover {
          background-color: rgba(184, 184, 184, 0.2);
        }
      }
    }
    .btn-box {
      padding: 10px;
    }
  }
}
