@use "../../../style/font";
.children-task {
  padding: 15px;

  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  &.completed {
    color: green;
    background-color: rgba(192, 192, 192, 0.1);
    &:hover {
    }
  }
  &__left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }
  margin: 10px;
  &:hover {
    background-color: rgba(192, 192, 192, 0.1);
  }

  &__head {
    font-weight: 700;
    font-size: font.$font-size-m;
    color: black;
  }
  &__time {
    font-weight: 400;
    font-size: font.$font-size-e;
    color: gray;
  }
}
