@use "../../../style/font";
.children-task-info {
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  h5 {
    margin-top: 20px;
    font-size: font.$font-size-xl;
  }
  span {
    font-size: font.$font-size-s;
    color: gray;
  }
  &__head {
    padding: 20px 0;
    margin-bottom: 20px;
    width: 100%;
    border-bottom: 1px solid black;
  }
  &__body {
    font-size: font.$font-size-s;
  }
}
