@use "../../style/font";
.form-layout {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url("../../../public/images/login-background.png");
  background-size: contain;
}
.form {
  width: 100%;
  padding: 20px;
  &__title {
    margin-bottom: 20px;
  }
  &__input {
    text-align: left;
    margin-bottom: 10px;
    label {
      padding-bottom: 10px;
      font-size: font.$font-size-m;
      text-align: left;
      display: block;
    }
    input {
      font-size: font.$font-size-s;
      border-radius: 4px;
      border: 2px solid rgb(126, 125, 125, 0.5);
      width: 100%;
      padding: 6px 12px;
      font-weight: 400;
    }
    input:focus {
      outline-color: #5297ff;
    }
  }
  &__button {
    margin: 0 auto;
    background-color: #0052cc;
    width: 100%;
    padding: 10px 0;
    color: white;
    border: none;
    border-radius: 5px;
  }
}
.message--success {
  color: green;
}
.message--error {
  color: red;
}

.go-back {
  position: absolute;
  top: 40px;
  left: 40px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.7);
  transition: all 0.3s;
  &__icon {
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate3d(50%, -50%, 0);
    color: white;
    transition: all 0.3s;
    font-size: 40px;
  }
  &:hover {
    background-color: rgba(255, 255, 255, 0.7);
    .go-back__icon {
      color: #0052cc;
    }
  }
}
